<%-include('./partials/headNav')%>


<section id="all-movies">
    <% data.forEach(elt => { %>
    <article>
        <a href="/details/<%= elt.id %>"><img src="https://image.tmdb.org/t/p/w500/<%= elt.poster_path %>" alt=""></a>
        <a class="title-link" href="/details/<%= elt.id %>"> <%= elt.title %> </a>
    </article>
    <% }) %>
</section>

<!-- pagination -->
<footer>
    <% if (pageNumber>15) { %>
    <% for (let index = pageNumber-1; index < (pageNumber*1)+15; index++) { %>
    <div>
        <a class="btn-page" href="/page/<%= index %>"><%= index %></a>
    </div>
    <% } %>

    <% } else if(pageNumber<=15){ %>
        <% for (let index=pageNumber-1; index < (pageNumber*1)+15 ; index++) { %>
            <div>
                <a class="btn-page" href="/page/<%= index %>"><%= index %></a>
            </div>

    <% } } else { %>
    <% for (let index = pageNumber; index < (pageNumber*1)+15; index++) { %>
    <div>
        <a class="btn-page" href="/page/<%= index %>"><%= index %></a>
    </div>
    <% } %>
    <% }%>
</footer>

</body>

</html>