<%-include('./partials/headNav')%>


<section id="results">
    <% data.forEach(elt => { %>
    <article>
        <% if(elt.poster_path !== null){ %>
        <div class="img-wrap">
            <a href="/details/<%= elt.id %>"><img src="https://image.tmdb.org/t/p/w500/<%=elt.poster_path %>"
                    alt=""></a>
        </div>
        <% } else { %>
        <a href="/details/<%= elt.id %>">
            <img src="/empty.png" alt="">
        </a>
        <% } %>
        <div class="title-wrap">
            <a class="title-link" href="/details/<%= elt.id %>"> <%= elt.title || elt.name %> </a>
        </div>
    </article>
    <% }) %>
</section>
</body>

</html>